<div class="row">
  <div class="col-12">
    <rh-form-steps></rh-form-steps>
  </div>
  <div class="col-12">
    <rh-project-detail-form
      *ngIf="(currentStepNameObservable | async) === projectFormSteps.ProjectDetail">
    </rh-project-detail-form>

    <rh-project-settings-form
      *ngIf="(currentStepNameObservable | async) === projectFormSteps.ProjectSetting">
    </rh-project-settings-form>

    <rh-delivery-status-form
      *ngIf="(currentStepNameObservable | async) === projectFormSteps.ProjectDelivery">
    </rh-delivery-status-form>

    <div *ngIf="(currentStepNameObservable | async) === projectFormSteps.ProjectReview">
      <rh-review-and-submit>
      </rh-review-and-submit>
    </div>
  </div>
</div>
